<p class="h1"></p>
<p class="arabic">
  1- أقسم الله تعالى بها: وإذا أقسم الله بشيء دلّ هذا على عظم مكانته وفضله؛ إذ العظيم لا يقسم إلا بالعظيم، قال تعالى: “والفجر. وليال العشر” (الفجر: 1-2). والليالي العشر هي عشر ذي الحجة، وهذا ما عليه جمهور المفسرين والخلف، وقال ابن كثير في تفسيره: وهو الصحيح
</p>
<br/>
<p class="arabic">
  2- إنها الأيام المعلومات التي شرع فيها ذكره: قال تعالى: “ويذكروا اسم الله في أيام معلومات على ما رزقهم من بهيمة الأنعام” [الحج: 28]، وجمهور العلماء على أن الأيام المعلومات هي عشر ذي الحجة، منهم ابن عمر وابن عباس رضي الله عنهما.
</p>
<br/>
<p class="arabic">
  3- أن رسول الله صلى الله عليه وسلم شهد لها بأنها أفضل أيام الدنيا: فعن جابر -رضي الله عنه- عن النبي صلى الله عليه وسلم قال: “أفضل أيام الدنيا أيام العشر -يعني عشر ذي الحجة- قيل: ولا مثلهن في سبيل الله؟ قال: ولا مثلهن في سبيل الله إلا رجل عفر وجهه بالتراب” [رواه البزار وابن حبان وصححه الألباني].
</p>
<br/>
<p class="arabic">
  4- أن فيها يوم عرفة: ويوم عرفة يوم الحج الأكبر، ويوم مغفرة الذنوب، ويوم العتق من النيران، ولو لم يكن في عشر ذي الحجة إلا يوم عرفة لكفاها ذلك فضلاً.
</p>
<br/>
<p class="arabic">
  5- أن فيها يوم النحر: وهو أفضل أيام السنة عند بعض العلماء، قال صلى الله عليه وسلم (أعظم الأيام عند الله يوم النحر، ثم يوم القر) [رواه أبو داود والنسائي وصححه الألباني، ويوم القر هو اليوم الذي يلي يوم النحر؛ لأن الناس يقرون فيه بمنى بعد أن فرغوا من الطواف والنحر واستراحوا].
</p>
<br/>
<p class="arabic">
  6- اجتماع أمهات العبادة فيها: قال الحافظ ابن حجر في الفتح: “والذي يظهر أن السبب في امتياز عشر ذي الحجة لمكان اجتماع أمهات العبادة فيه، وهي الصلاة والصيام والصدقة والحج، ولا يتأتى ذلك في غيره”.
</p>
<br/>
<p class="arabic" ngNonBindable>
  7- هي الأيام التي أعطاها الله لموسى عليه السلام كي يتم ميقاته أربعين ليلة: قال تعالى:
  [ وواعدنا موسى ثلاثين ليلة وأتممناها بعشر فتم ميقات ربه أربعين ليلة ] (الأعراف: 142)
  وقد ورد هذا عن مجاهد ومسروق، فالحمد لله الذي هدانا لهذه الأيام وأضلهم عنها، فنحن أولى بموسى عليه السلام منهم.
</p>
<br/>
<p class="arabic">
  8- العمل فيها له منزلة عظيمة وفضل كبير عند الله تعالى: فقد روى البخاري في صحيحه عن ابن عباس أن رسول الله صلى الله عليه وسلم قال: “ما من أيام العمل الصالح فيها أحب إلى الله من هذه الأيام، يعنى أيام العشر، قالوا يا رسول الله ولا الجهاد في سبيل الله؟ قال: ولا الجهاد في سبيل الله، إلا رجل خرج بنفسه وماله ثم لم يرجع بشيء” (رواه البخاري وغيره).
</p>
<br/>
<p class="arabic">
  9- مضاعفة العمل الصالح: فعن سعيد بن جبير عن ابن عباس رضي الله عنهما قال: قال رسول الله صلى الله عليه وسلم: “ما من أيام أفضل عند لله، ولا العمل فيهن أحب إلى الله عز وجل من هذه الأيام” يعني من العشر “فأكثروا فيهن من التهليل والتكبير وذِكْر الله. وإن صيام يوم منها يُعدل بصيام سنة. والعمل فيهن يضاعف بسبعمائة ضعف” (من الترغيب والترهيب للمنذري).
</p>
<br/>
<p class="arabic">
  10-وعن أبي هريرة -رضي الله عنه- عن النبي صلى الله عليه وسلم قال: “ما من أيام أحب إلى الله أن يُتعبد له فيها من عشر ذي الحجة, يعدل صيام كل يوم منها بسنة وكل ليلة منها بقيام ليلة القدر” (رواه ابن ماجه والترمذي).
</p>
