.right-text {
  position: absolute;
  top: 48%;
  left: 85%;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 2px 2px #ff0000;
}

.left-top-text {
  position: absolute;
  top: 48%;
  left: 5%;
  font-size: large;
  text-shadow: 1px 1px #c2900e;
}

.left-bottom-text {
  position: absolute;
  top: 108%;
  left: 5%;
  font-size: large;
  text-shadow: 1px 1px #c2900e;
}
