<div class="d-flex align-items-center justify-content-center vh-100 text-center">
  <div class="px-3">
    <h1>العشر المباركات</h1>
    <p class="h3">created by Abdelrahman M. Saleh</p>
    <p class="lead">
      I get lost in space and time while writing code, my goal is to ignite the world's creativity through my apps.
      A few years of experience in multiple programming languages including but not limited to Java, Javascript, nodeJS, and Laravel, using clean code and design patterns.
      I have successfully completed multiple projects in a very short frame of time, I love to push my teammates to the max and beyond to extract the best out of me and them which in return reflected in the company's reputation and position.
      Feel free to contact me any time for a job opportunity or for consultants in any programming or Linux matter.
    </p>
    <div class="d-flex justify-content-center">
      <a href="https://github.com/AmSaleh21" target="_blank" rel="noreferrer"
              pButton pRipple type="button"
              label="GitHub" class="mx-2 p-button-sm p-button-outlined p-button-rounded"></a>
      <a  href="https://www.linkedin.com/in/AmSaleh21/" target="_blank" rel="noreferrer"
              pButton pRipple type="button"
              label="LinkedIn" class="mx-2 p-button-sm p-button-outlined p-button-rounded"></a>
    </div>
  </div>
</div>
